/* ARCHIVED */

#textContainer {
  width: 416px;

  padding: 32px;
  margin-top: 80px;
  border-radius: 8px;

  background-color: white;

  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: center;
}

h3 {
  margin-top: 16px;

  font-size: 1.1em;
  font-weight: lighter;
  text-align: center;
}
