body {
  font-family: Avenir !important;
  color: #333333;

  /* COVER PHOTO FOR PAGE */
  background-image:
    linear-gradient(to bottom, rgba(35, 31, 32, 0.4), rgba(35, 31, 32, 0.4)),
    url("../img/mountains.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  margin-top: 0;
  color: white;
  font-weight: lighter !important;
  font-size: 3em;
  text-align: center;
}

#theTitle {
  justify-content: center !important;
  display: flex !important;
  align-items: center !important;
}

img {
  height: 40px;
  margin-right: 8px
}

h2 {
  font-weight:lighter;
  margin: 0;
  text-align: center;
}

.button {
  background-color: #1066C2 !important;
}

.button:hover {
  opacity: 0.7 !important;
}

#theContainer {
  padding-top: 80px;
  margin: auto;
  width: 64vw;
}

#formsContainer {
  margin-top: 80px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;

  justify-content: space-around;
}


@media (max-width: 584px) {
  #formsContainer {
    grid-template-columns: 1fr;
    margin-top: 24px;
  }
  body {
    background-size: auto 100vh;
  }
  h1 {
    font-size: 2.4em;
  }
}

.formContainer {
  min-width: 264px;
  width: 25vw;
  margin:auto;
  margin-top:0;
  background: #F2F2F2;
  padding: 24px 32px;
  border-radius: 8px;
  height: fit-content;
}

#form-signup {
  margin-top: 16px;
}

#emailInputBox {
  margin-top: 16px;
}
