/* ARCHIVED */

#formContainer {
  width: 360px;

  padding: 24px 32px;
  margin: auto;
  margin-top: 80px;
  border-radius: 8px;

  background: #F2F2F2;
}

#signupForm {
  margin-top: 16px;
}

#buttonContainer {
  justify-content: center;
  display: flex;
  align-items: center;
}

.button {
  background-color: #1066C2 !important;
}

.button:hover {
  opacity: 0.7 !important;
}
