<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body style="background-color:#ffffff;color:#000000;font-family:Avenir">
    Hey {{ name }}, you Gorgeous Human Being you!
    <br>
    <br>
		<br>
		<a href='http://linkedin-pod-sorter.herokuapp.com/commit?user={{ userHash }}'>
			<div onclick="window.open('http://linkedin-pod-sorter.herokuapp.com/commit?user={{ userHash }}', '_blank')" style="padding:20px;background-color:#C5E0B3;border-radius:8px;width:fit-content;max-width:100%;cursor:pointer;justify-content:center;align-items:center;">
				Click to confirm the days you are “Pod-ding” next week ({{ weekToCommitTo }})
			</div>
		</a>
		<br>
		<br>
		Much Love,<br>
		Matteo
    <br>
    <br>
		<br>
    <a style="color:grey" href="mailto:podlinkedin@gmail.com?subject=Unsubscribe {{ name }}">Unsubscribe</a>
  </body>
</html>
