<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body style="background-color:#ffffff;color:#000000">
    Hey {{ name }}, you Gorgeous Human Being you!
    <br>
    <br>
		<br>
		<a href="http://linkedin-pod-sorter.herokuapp.com/topup?user={{ userHash }}" target="_blank">
			Click to confirm the days you are “Pod-ding” next week ({{ nextWeekRange }})
		</a>
		<br>
		<br>
		{% if participating %}
			<b>Here are TODAY’s {{ peopleToCommentOn|length }} LinkedIn profiles for you to comment on</b>
	  	<ul>
	    	{% for id in peopleToCommentOn %}
	      	<li><a href='{{ participants[id]["LinkedIn Profile"] }}' target='_blank'>{{ participants[id]["Name"] }}</a></li>
	    	{% endfor %}
	    </ul>
	    <br>
	    <b>These {{ peopleThatWillComment|length }} people will also COMMENT on your profile today</b>
	    <ul>
	      {% for id in peopleThatWillComment %}
	        <li><a href='{{ participants[id]["LinkedIn Profile"] }}' target='_blank'>{{ participants[id]["Name"] }}</a></li>
	      {% endfor %}
	    </ul>
			If any of their comments are missing, please contact them directly.
	   	<br>
			<br>
			<br>
			At the end of the day, make sure you<br>
			<a target="_blank" href="http://linkedin-pod-sorter.herokuapp.com/feedback?user={{ userHash }}">
				Give Feedback on Posts & Comments
			</a><br>
			This helps us all get better, thank you!<br>
			<br>
			<br>
		{% endif %}

		Much Love,<br>
		Matteo
    <br>
    <br>
    <a href="mailto:podlinkedin@gmail.com?subject=Unsubscribe {{ name }}">Unsubscribe</a>
  </body>
</html>
