{% extends "layout.html" %}

{% block body %}

<script type="text/javascript">
  $(document).ready(() => {
    $('.ui.dropdown').dropdown({fullTextSearch: true});

    $('#signupForm').form({
      fields: {
        name: 'empty',
        email: 'email',
        linkedinProfile: 'regExp[/^(http(s)?:\/\/)?(www\.)?linkedin\.com\/(in|company)\/[A-z0-9_-]+\/?/i]',
        timezone: 'empty'
      }
    });
  });
</script>

<div id="theContainer">
  <div id="theTitle">
    <img id="linkedin-logo" src="static/img/linkedin.png">
    <h1>LinkedIn Pod Sorter</h1>
  </div>

  <div id="formContainer">
    <h2>Join the program</h2>

    <form id="signupForm" class="ui form" method="POST" action="{{ formAction }}">
      <div class="field">
        <label>Name</label>
        <input type="text" name="name" placeholder="John Smith">
      </div>
      <div class="field">
        <label>Email</label>
        <input type="text" name="email" placeholder="johnsmith@gmail.com">
      </div>
      <div class="field">
        <label>LinkedIn Profile</label>
        <input type="text" name="linkedinProfile" placeholder="https://www.linkedin.com/in/johnsmith">
      </div>

      <div class="field">
        <label>Your local time zone</label>
        <select name="timezone" id="timezone" class="ui search dropdown">
          <option value="">Search your time zone</option>
          {% for timezone in timezones %}
            <option value="{{ timezone }}">{{ timezone | replace("_", " ") }}</option>
          {% endfor %}
        </select>
      </div>

      <div id="buttonContainer">
        <button class="ui primary button">Submit</button>
      </div>

      {% if userAlreadySignedUp is defined and userAlreadySignedUp %}
        <div id="alreadySignedUpErrorBox" class="ui negative message">
          <div class="header">
            You've already signed up with us!
          </div>
          <p>Check your emails to confirm your participation this week</p>
        </div>
      {% endif %}

      <div class="ui error message">
      </div>
    </form>
  </div>
</div>

{% endblock %}
