<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta http-equiv="cache-control" content="max-age=0">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="-1">
    <meta http-equiv="pragma" content="no-cache">

    <meta charset="utf-8">
    <meta property="og:type" content="website">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Seyhan Van Khan">
    <meta name="description" property="og:description" content="Receive weekly engagement on your LinkedIn.">
    <meta name="image" property="og:image" content="static/img/favicon.png">

    <link rel="shortcut icon" href="static/img/favicon.png">

    <link rel="stylesheet" type="text/css" href="static/Semantic-UI-CSS/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="static/Semantic-UI-CSS/semantic.min.js"></script>

    <link rel="stylesheet" href="static/css/main.css">

    <title>Pod Sorter for LinkedIn</title>
  <head>

  <body>
    {% block body %}
    {% endblock %}
  </body>
</html>
