{% extends "layout.html" %}

{% block body %}

<div id="theContainer">

  <div id="theTitle">
    <img id="linkedin-logo" src="static/img/linkedin.png">
    <h1>LinkedIn Pod Sorter</h1>
  </div>

  <div id="textContainer">
    <h2>Thanks for signing up!</h2>
    <svg id="checkmark" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check" width="200" height="200" viewBox="0 0 24 24" stroke-width="0.5" stroke="#53A20D" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <circle cx="12" cy="12" r="9" />
      <path d="M9 12l2 2l4 -4" />
    </svg>
    <h2>You will receive a confirmation email in a few minutes.</h2>
    <h3>You don't need to do anything. We will email you every week asking you to confirm your particpation.</h3>
  </div>
</div>

{% endblock %}
