<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Seyhan Van Khan">
	</head>
	<body style="background-color:#ffffff;color:#000000">
    Hey {{ name }},<br>
		<br>
		You are IN! 👌<br>
		Thank you for signing up to the “{{ group }}” group.<br>
		<br>
		ESSENTIAL<br>
		Please save this email for reference!<br>
		Read the instructions in this <b><a href="https://docs.google.com/document/d/1JkJmkpSqJdwur7pFF14aTcT7senipRNj3b8lIK5ns8U/edit?usp=sharing">link</a></b> very carefully so you know how to get the most out of this group.
		<br>
		<br>
		Much Love,<br>
		Matteo
    <br>
    <br>
    <a href="mailto:podlinkedin@gmail.com?subject=Unsubscribe {{ name }}">Unsubscribe</a>
  </body>
</html>
