{% extends "layout.html" %}

{% block body %}


<style>
  body {
    background-image:
      linear-gradient(to bottom, rgba(35, 31, 32, 0.4), rgba(35, 31, 32, 0.4)),
      url("/static/img/mountains2.jpg");
  }
  h2 {
    margin-bottom: 32px
  }
</style>


<script type="text/javascript">
  $(document).ready(() => {
    $('.ui.checkbox').checkbox();
    $('#topupForm').form();
  });
</script>

<div id="theContainer">
  <div id="theTitle">
    <img id="linkedin-logo" src="static/img/linkedin.png">
    <h1>LinkedIn Pod Sorter</h1>
  </div>

  <div id="formContainer">
    <h2>Confirm Your Participation for this week (<u><b>{{ nextWeekRange }}</b></u>)</h2>

    <form id="topupForm" class="ui form" method="POST" action="/topup?user={{ userHash }}">
      <label for="weekdays">Choose your days:</label>
      <div name="weekdays" class="grouped fields">
        {% for day in dayOptions %}
          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" name="{{ day['value'] }}" tabindex="0" class="hidden">
              <label>{{ day['date'] }}</label>
            </div>
          </div>
        {% endfor %}
      </div>

      <div id="buttonContainer">
        <button class="ui primary button">Submit</button>
      </div>

      <div class="ui error message">
      </div>
    </form>
  </div>
</div>

{% endblock %}
