{% extends "layout.html" %}

{% block body %}


<style>
  body {
    background-image:
      linear-gradient(to bottom, rgba(35, 31, 32, 0.4), rgba(35, 31, 32, 0.4)),
      url("/static/img/mountains2.jpg");
  }
  h2 {
    margin-bottom: 32px
  }
</style>


<script type="text/javascript">
  $(document).ready(() => {
    $('.ui.checkbox').checkbox();
    $('#topupForm').form();
  });
</script>

<div id="theContainer">
  <div id="theTitle">
    <img id="linkedin-logo" src="static/img/linkedin.png">
    <h1>LinkedIn Pod Sorter</h1>
  </div>

  {% if validID %}
  <div id="formContainer">
    <h2>Confirm Your Participation for the next available week (<u><b>{{ nextWeekRange }}</b></u>)</h2>

    <form id="topupForm" class="ui form" method="POST" action="/topup?user={{ userHash }}">
      <label for="weekdays">Choose your days:</label>
      <div name="weekdays" class="grouped fields">
        {% for day in dayOptions %}
          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" name="{{ day['value'] }}" tabindex="0" class="hidden">
              <label>{{ day['date'] }}</label>
            </div>
          </div>
        {% endfor %}
      </div>

      <div id="buttonContainer">
        <button class="ui primary button">Submit</button>
      </div>

      <div class="ui error message">
      </div>
    </form>
  </div>
  {% else %}
    <div id="textContainer">
      <h2>Invalid URL</h2>
      <svg id="checkmark" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-alert" width="150" height="150" viewBox="0 0 24 24" stroke-width="0.7" stroke="#CC3F0C" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M14 3v4a1 1 0 0 0 1 1h4" />
        <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />
        <line x1="12" y1="17" x2="12.01" y2="17" />
        <line x1="12" y1="11" x2="12" y2="14" />
      </svg>
      <h3>Did you use the link we emailed you?</h3>
    </div>
  {% endif %}
</div>

{% endblock %}
